<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to my awesome site!</h1>
    <p>
      You have requested for a signup, to complete sign up process please click this link, copy and past it in a browser<br/>
      <%= link_to  "Signup", @signUpLink %>
    </p>

  </body>
</html>